.pine{
    text-align: center;
}
.back{
    background-color:orange;
}
.pine{
    background-color:purple;
}
.formss{
    background-color:yellow;
}
.wow{
    background-color:red;
    height:200px;
}